<div id="header" style="border-top:solid 3px #18a7b4;">
  <!--/============LOGO AREA==============/-->
  <div class="center_area" style="padding:3px 0px;">
    <div class="fleft"><a href="http://www.vacantcafe.com/index.php"><img src="http://www.vacantcafe.com/images/logo.png" height="40" /></a></div>
    <!--<div class="fleft" style="margin-left:50px; padding-top:8px; width:335px;"> <span class="search" style="width:240px; display:inline-block;">
      <input type="text" placeholder="Search" style="width:200px;"/>
      <input type="image" src="images/searchbar_icon.png" />
      </span> <a href="#" style="color:#18a7b4; text-decoration:none; float:right; margin-top:5px;">Save Search</a> </div>-->
    <div class="fright location" style="padding-top:3px;"> <strong style="font-size:16px;">Maryland,MD</strong>
      <div class="locdrop">
      	<a href="javascript:void(0);" onclick="showchangelocation();" class="arw">Change Location</a>
        <div class="location_drop" style="width:270px; display:none;">
        <input type="text" name="location_state" id="tag" placeholder="Change Location" onKeydown="javascript: if (event.keyCode==13) getstatelist();" style="width:200px; float:left;">
        <input type="submit" value="Go" style="float:right;" onclick="getstatelist();">
        </div>
      </div>
	  
    </div>
    <div class="clear"></div>
  </div>
  <!--/END/-->
  <!--/============NAVIGATION==============/-->
  <div class="navigation">
    <div class="center_area" style="padding:6px 0px;">
      <div class="fleft">
        <ul style="font-size:12px;">
			<li><a href="http://www.vacantcafe.com/index.php"><img src="http://www.vacantcafe.com/images/home_icon.png" /></a></li>
			<li class="sbdrop"><a href="http://www.vacantcafe.com/about-us.php">About Us</a>
				<div class="sub-nav abt" style="display:none;">
					<ul>
						<li><a href="http://www.vacantcafe.com/state-details.php">About Maryland</a></li>
						<li><a href="http://www.vacantcafe.com/why-vacant-repository.php">Why Vacant Cafe</a></li>
						<li><a href="http://www.vacantcafe.com/contact-us.php" style="border:none">Contact Us</a></li>
					</ul>
				</div>
			</li>
            <li class="tdrop"><a href="http://www.vacantcafe.com/think-it.php">Think it</a>
            	<div class="sub-nav tht" style="display:none;">
					<ul>
						<li><a href="http://www.vacantcafe.com/register.php?ut=2">Buyer</a></li>
						<li><a href="http://www.vacantcafe.com/register.php?ut=2" style="border:none">Seller</a></li>
					</ul>
				</div>
            </li>
            <li><a href="http://www.vacantcafe.com/listing.php">Find it</a></li>
            <li class="pdrop"><a href="http://www.vacantcafe.com/plan-it.php">Plan it</a>
            	<div class="sub-nav pln" style="display:none;">
					<ul>
						<li><a href="http://www.vacantcafe.com/banks-listing.php">Bank</a></li>
                        <li><a href="http://www.vacantcafe.com/agents-listing.php">Broker</a></li>
                        <li><a href="http://www.vacantcafe.com/hudinspecter-listing.php">HUD Inspector</a></li>
                        <li><a href="http://www.vacantcafe.com/appraiser-listing.php">Appraiser</a></li>
						<li><a href="#" style="border:none">Contractor</a></li>
					</ul>
				</div>
            </li>
            <li><a href="http://www.vacantcafe.com/build-it.php">Build it</a></li>
			<li><a href="http://www.vacantcafe.com/blog">Blog</a></li>
		</ul>
        <div class="clear"></div>
      </div>
      <div class="fright"> 
	  <span class="sub_box">	  	<a href="http://www.vacantcafe.com/register.php">Register</a> &nbsp; &nbsp; <a href="http://www.vacantcafe.com/login.php">Login</a> 
	  	  </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--/END/-->
</div>