html
  head
    link(rel="stylesheet", type="text/css", href="http://www.vacantcafe.com/css/stylesheet.css")
    link(rel="stylesheet", href="/public/css/main.css")
    link(rel="stylesheet", href="/public/lib/leaflet/dist/leaflet.css")
    link(rel="stylesheet", href="/public/lib/leaflet-draw/dist/leaflet.draw.css")
    script(src="/public/lib/jquery/dist/jquery.js")
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script(src="/public/lib/leaflet/dist/leaflet.js")
    script(src="/public/lib/leaflet-draw/dist/leaflet.draw.js")
    script(src="/public/js/map.js")
    title Vacant Cafe
  body
    include header.html
    include map.jade
    include footer.html